{% extends 'base.html' %}

{% block content %}

<h1>Category: {{ categories }}</h1>
<br>

{% if category_posts %}
<div class="list-group">
    {% for post in category_posts %}
       <a href="{% url 'post_details' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">

            <div class="d-flex w-100 justify-content-between">
                 <h4 class="mb-1">{{ post.title }} </h4>
                <small class="text-muted">{{ post.author }} - {{ post.publication_date }}</small>
            </div> 

            <p class="mb-1">{{ post.preview }}</p>
            <small class="text-muted">{{ post.category }}</small>
            <br>
    </a>
    {% endfor %}
</div>
{% else %}
    Sorry, there are no posts in this category.
{% endif %}
{% endblock %}
