{% extends 'base.html' %}

{% block content %}

<h1>{{ categories }}</h1>

{% if category_posts %}
<ul>
    {% for post in category_posts %}
        <li>
            <a href="{% url 'post_details' post.pk %}"> 
            {{ post.title }} </a> - 
            {{ post.category }} - 
            {{ post.author }} -
            {{ post.publication_date }}
            {% if user.is_authenticated %} -
                <a href="{% url 'update_post' post.pk %}">Edit</a> - 
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
            <br>
            {{ post.body|slice:":1000"|safe }}
        </li>
    {% endfor %}
</ul>
{% else %}
    Sorry, there are no posts in this category.
{% endif %}
{% endblock %}