{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1>
<br>
<div class="list-group">
    {% for post in object_list %}
       <a href="{% url 'post_details' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">

            <div class="d-flex w-100 justify-content-between">
                 <h4 class="mb-1">{{ post.title }} </h4>
                <small class="text-muted">{{ post.author }} - {{ post.publication_date }}</small>
            </div> 

            <p class="mb-1">{{ post.preview }}</p>
            <small class="text-muted">{{ post.category }}</small>
            <br>
    </a>
    {% endfor %}
</div>
{% endblock %}