{% extends 'base.html' %}
{% block title %}{{post.tag}}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small> 
    {{post.publication_date}} |
    <a href="{% url 'category' post.category|slugify%}">{{ post.category }}</a>
    {% if user.is_authenticated %}
        {% if user.id == 1 %}
            | 
            <a href="{% url 'update_post' post.pk %}">Edit</a> - 
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}
</small>

<hr>
{% if post.header_image %}
    <img src='{{ post.header_image.url}}' class="img-fluid img-th rounded", alt="Responsive image">
    <hr>
{% endif %}
{{ post.body|safe }}
<br><br>
<small>Author: {{ post.author }}</small> 

<br>
<hr>
<br>

<form action="{% url 'like_post' post.pk %}"" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger" >Unlike</button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary" >Like</button>
        {% endif %} 
    {% else %}
    <a  href="{%url 'login'%}">Log In</a> to like
    {% endif %} 
    - {{ total_likes }} Likes
</form>

<br>

<h2>Comments:</h2>

{% if not post.comments.all %}
    There are no comments yet.
    <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% else %}
    <br>
    <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
    <br><br>
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - {{comment.date_added}}</strong>
        <br>
        <i>{{ comment.body }}</i>
        <br><br>
    {% endfor %}
{% endif %}

<br>


<!-- <a href="{% url 'home' %}" class="btn btn-secondary">Back</a> -->

{% endblock %}